@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

nav{
 display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
 width: 100vw;
 height: 50px;
 position: fixed;
 top: 0;
 left: 0;
     -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.admin {
    height: fit-content;
    max-height: 70%;
    width: fit-content;
}
.search{
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
    width: 45vw;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 14px;
    background-color: #cfcfcf;
}

.search-input{
    width: 40vw;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    padding: 4px 8px;
    line-height: 1;
    font-size: 16px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 30px;
    cursor: pointer;
}
.search-button:active , .search-button:active * {
    background: transparent;
    transition: 200ms;
}
.search-button:hover{
    border-radius: 14px;
    background-color: #e7e7e7df;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hide{
    display: none !important;
}
.topbar-ul{
    padding: 8px 8px;


     left: 5px;
     height: 50px;
     display: flex;
     align-items: center;
     gap: 16px;
     list-style: none;
}

.topbar-ul-right{
    right: 5px;
    height: 50px;
      display: flex;
     align-items: center;
     gap: 16px;
     list-style: none;
}

.topbar-ul-right li{
    padding: 8px 8px;
}

.topbar-ul li{
    padding: 8px 8px;
}

nav {
    top: 0;
    position: fixed;
    z-index: 100;
    flex-wrap: wrap;
}
.topbar-ul li:hover:not(.noclickable) {
    cursor: pointer;
   background-color: #e7e7e7df;
   border-radius: 14px;
   
}
.dark .topbar-ul li:hover:not(.noclickable) {
    cursor: pointer;
   background-color: #4b4b4bdf;
   border-radius: 14px;
   
}
body {
    background: whitesmoke;
    width: 100vw;
    display: flex;
    font-family: 'Inter', 'Roboto', sans-serif, serif;
}

h1 {
    font-size: 3vh;
}
.admin {
    border-radius: 15px;
    border: 3px solid rgb(199, 199, 199);
    
    text-align: center;
    
}
.topbar-ul li:active:not(.noclickable) {
color: rgb(150, 150, 150);
background: transparent;
}
h2 {
    font-size: 2rem;
    font-weight: 400;
}
.dark {
    background: #333333;
    color: white;
}
.dark nav {
    background: black;
}

.turn {
    flex-direction: row-reverse;

}
.logo {
    cursor: pointer;
}
section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
section * {
    z-index: 20;
}
.admin {
    width: max-content;
    

}

.readme {
    width: 30%;
    text-align: center;
    height: fit-content;
    font-size: 1.8rem;
    font-family: 'DM Sans', 'Arial', sans-serif, serif;
    padding: 3%;

}

.home{
    margin: 15vh 0 0 0;
    display: flex;
    flex-direction: column;
}

.openhub-logo{
    font-size: 5rem;
}

h2{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.words {
  position: relative;
  display: inline-block;     
  min-width: 100vw;           
  height: 1.8em;               
  vertical-align: middle;      
  overflow: hidden;            
}

.words span { 
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(30px);
  animation: rotateWords 12s infinite;
  white-space: nowrap;
}

.words span:nth-child(1) { animation-delay: 0s;    }
.words span:nth-child(2) { animation-delay: 3s;    }
.words span:nth-child(3) { animation-delay: 6s;    }
.words span:nth-child(4) { animation-delay: 9s;    }

@keyframes rotateWords {
  0%   { opacity: 0;   transform: translateY(35px); }
  8%   { opacity: 1;   transform: translateY(0);    }
  25%  { opacity: 1;   transform: translateY(0);    }
  33%  { opacity: 0;   transform: translateY(-25px); }
  100% { opacity: 0;   transform: translateY(-25px); }
}
section {
    width: 100vw;
    height: 50vh;
}
.switch {
    width: 80px;
    height: 100%;
    border: 3px solid rgb(139, 139, 139);
    background: transparent;
    color: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;

}
.switchil {
    width: 100%;
    height: 100%;
}


.switchlight {
    background: white;
    width: 50%;
    height: 100%;
}
.switchdark {
    width: 50%;
    height: 100%;
    background: black;
}
@media (max-width: 1024px) {
    .topbar-ul * {
        transform: scale(0.95);
    }
    nav {
        height: fit-content;
    }
}
@media (max-width: 580px) {
    .topbar-ul * {
        transform: scale(0.80);
    }
    nav {
        font-family: 'Arial', 'Calibri', 'Roboto', sans-serif;
    }
}
@media (max-width: 530px) {
    .screrr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: #3333335d;
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        flex-direction: column;
    }
    .screrr * {
        text-align: center;
    }
    .scrskip {
        width: max-content;
        height: fit-content;
        padding: 1% 2% 1% 2%;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        background: transparent;
        color: rgb(0, 0, 0);
        cursor: pointer;
        margin-top: 10%;
    }
    body.dark .scrskip {
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
}
