@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.topbar{
 display: flex;
  height: 50px;
 width: 100vw;
 align-items: center;
 justify-content: center;
}

.search{
    top: 5px;
    position: fixed;
    width: 20vw;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 14px;
    background-color: #cfcfcf;
}

.search-input{
    width: 15vw;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    padding: 4px 8px;
    line-height: 1;
    font-size: 16px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 35px;
}

.search-button:hover{
    border-radius: 14px;
    background-color: #e7e7e7df;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.topbar-ul{
    padding: 8px 8px;
     position: fixed;
     left: 5px;
     height: 50px;
     display: flex;
     align-items: center;
     gap: 16px;
     list-style: none;
}

.topbar-ul li{
    padding: 8px 8px;
}

.topbar-ul li:hover{
    cursor: pointer;
   background-color: #e7e7e7df;
   border-radius: 14px;
   
}

body {
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Inter', 'Roboto', sans-serif, serif;
}


.hide {
    position: absolute;
    display: none;
    opacity: 0;
}
h1 {
    font-size: 3rem;
}
.admin {
    width: 7vw;
    height: 2vh;
    border-radius: 15px;
    border: 3px solid rgb(199, 199, 199);
}