nav{
    display: flex;
    justify-content: space-between;  
    gap: 16px;
}

.search{
    width: 45vw;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
}

.search-input{
    width: 40vw;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button {
    display: flex;
}
