@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Roboto', sans-serif, serif, Arial;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.icon {
    font-size: 10rem;
    color: rgb(0, 0, 0);
    
}
form {
    width: 100%;
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.app {
    background: white;
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
button {
    width: 5rem;
    height: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.021);
}
button:hover {
    background: rgba(0, 0, 0, 0.103);
    transition: 250ms;
}
button:active {
    background: rgba(0, 0, 0, 0.021);
}
input {
    width: 15rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}
label {
    position: absolute;
    right: 1rem;
}   
div {
    position: relative;
}
input:hover + label {
transition: 300ms;
opacity: 0;
transform: translateX(10rem);
}
input:focus + label {
    transition: 300ms;
opacity: 0;
transform: translateX(10rem);
}
input:not(:placeholder-shown) + label {
    transition: 300ms;
opacity: 0;
transform: translateX(10rem);
}

